@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-height:100vh;
  background: #131313;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: relative;
  display:flex;
  height:45rem;
  max-width: 85rem;
  background-color:  #1f1f1f;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction:column;
  text-align:center;
  border:2px solid  rgba(255, 27, 27, 0.685);
  overflow:hidden;
  transition:.6s;
  box-shadow:0px 0px  100px rgba(255, 27, 27, 0.685);
}

.image{
  position:relative;
  color: rgb(88 199 250);
  font-weight:100;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 0.7s;
  transform:translateY(100px);
  border-radius: 25%;
  overflow: hidden;
  top: -3vw;
}

@keyframes float {
	0% {
		transform: translatey(100px);
	}
	50% {
		transform: translatey(80px);
	}
	100% {
		transform: translatey(100px);
	}
}

.card:hover .image {
  transform:translateY(-150px);
  opacity:0;
}

.text2 {
  color:#ffdbe7;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:20px;
  width:85vw;
  line-height:25px;
  transform:translateY(200px);
  transition:.7s;
  opacity:0;
  overflow-wrap: break-word;
}

.wrapper {
  display: inline-block;
  overflow-wrap: break-word;
}

h2 {
  font-size:38px;
  font-family:roboto;
  color:rgb(255, 27, 27, 0.685);
  font-weight:200;
  margin:0;
  padding:0;
  transform:translateY(200px);
  opacity:1;
  transition:.6s;
  opacity: 0;
}

@media all and (max-width: 675px) and (min-width: 280px) {
  .wrapper {
    display: inline-block;
    overflow-wrap: break-word;
  }
}

button {
  transform:translatey(200px);
  transition:.88s;
  opacity:0;
  width:110px;
  height:38px;
  border-radius:40px;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight: 400;
  letter-spacing:1px;
  color: rgb(255, 255, 255);
  background-color: #FF0000;
  background-image: linear-gradient(315deg, #FF0000 0%, #FF0000 74%);
  border:none;
  cursor:pointer;
}

.card:hover .hover {
  display:block
}

.card:hover h2 {
  transform:translatey(-78px);
  opacity:1;
}

.card:hover .text2 {
  transform:translatey(-40px);
  opacity:1;
}

.card:hover button {
  transform:translatey(20px);
  opacity:1;
}

.card:hover {
  transform:scale(110%);
  box-shadow:0px 0px  100px  rgb(255, 27, 27, 0.685);
}

button:active {
  color:#FF0000;
}
/*@keyframes scale
{
0%{transform:scale(100%) translateY(100px)}
50%{transform:scale(103%) translateY(100px)}
100%{transform:scale(100%) translateY(100px)}
}
*/

.text1{
  position:relative;
  color: rgb(255, 255, 255);
  font-weight:100;
  transition:.7s;
  transform:translateY(100px);
  top: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.card:hover .text1 {
  transform:translateY(-150px);
  opacity:0;
}

.bottomrighttext {
  position: absolute;
  color: white;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  bottom: 0.5%;
  right: 1%;
}

button:hover {
  background-image: linear-gradient(315deg, #FF0000 0%, #FF0000 74%);
}


.buttonright {
  transform:translatey(200px);
  transition:.88s;
  opacity:0;
  width:110px;
  height:38px;
  border-radius:40px;
  font-size:15px;
  font-family:roboto;
  text-transform:uppercase;
  font-weight:400;
  letter-spacing:1px;
  color: rgb(255, 255, 255);
  background-color: #FF0000;
  background-image: linear-gradient(315deg, #FF0000 0%, #FF0000 74%);
  border:none;
  cursor:pointer;
}

a {
  text-decoration: none;
  color: rgb(255, 27, 27, 0.685);
}

a:visited {
  color: rgb(255, 27, 27, 0.685);
}

a:hover {
  color: rgb(255, 27, 27, 0.685);
}